@import url("http://fonts.cdnfonts.com/css/made-tommy-soft-outline");

.body {
  height: 100vh;
  width: 100vw;
  background-color: #fed804;
}
.welcome {
  height: 100vh;
  width: 100vw;
}
.character {
  position: relative;
  top: -648px;
  left: 942px;
  max-height: 529px;
  max-width: 518px;
  object-fit: scale-down;
}
.intro {
  /* Layout Properties */
  position: relative;
  top: -1120px;
  left: 109px;
  max-width: 1202px;
  height: 146px;
  /* UI Properties */
  text-align: left;
  /* font: normal normal medium 120px/149px MADE Tommy Soft; */
  font-family: "MADE Tommy Soft";
  font-size: 90px;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.text {
  position: relative;
  top: -1135px;
  left: 109px;
  max-width: 650px;
  height: 114px;
  text-align: left;
  /* font: normal normal normal 45px/60px MADE Tommy Soft; */
  font-family: "MADE Tommy Soft";
  font-size: 34px;
  font-weight: 400;
  letter-spacing: 0px;
  color: #ffffff;
  opacity: 1;
}
.download {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  max-width: 500px;
  position: relative;
  top: -1120px;
  left: 100px;
}
.appStore {
  /* position: relative; */
  /* top: -1200px;
  left: 109px; */
  height: 70px;
  /* UI Properties */
  background: transparent;
  /* box-shadow: 0px 0px 6px #00000029; */
  border-radius: 50px;
  opacity: 1;
  cursor: pointer;
}
.googlePlay {
  /* position: relative; */
  /* top: -1210px;
  left: 349px; */
  height: 70px;
  background: transparent;
  /* box-shadow: 0px 0px 6px #00000029; */
  border-radius: 50px;
  opacity: 1;
  cursor: pointer;
}
.tokenomics {
  position: relative;
  top: -980px;
  left: 111px;
  max-width: 700px;
  /* height: 114px; */
  text-align: left;
  font-family: "MADE Tommy Soft";
  /* font-size: 30px; */
  font-weight: 500;
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
}
/* center a button */
.center {
  position: relative;
  top: -1558px;
  left: 945px;
  display: flex;
  max-width: 300px;
  /* justify-content: center;
  align-items: center; */
}
